.header-container {
  width: 100vw;
  background-color: var( --pure-white);
  font-size: 16px;
}

.header-box {
  padding: 20px 64px;
  display: flex;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.header-box img {
  width: 90px;
  height: 22.5px;
  margin-right: 46px;
}

.hearder-navigate {
  list-style: none;
  display: flex;
}

.hearder-navigate a {
  padding: 0 16px;
}

.hearder-navigate a, .header-actions a{
  text-decoration: none;
  cursor: pointer;
  color: var(--black);
}

.header-actions {
  margin-left: 110px;
}

.header-actions a {
  margin-right: 40px;
}