.footer {
  background-color: var(--pure-white);
  display: flex;
  height: 64px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.social-media-nav ul {
  list-style: none;
  display: flex;
}

.footer-container span {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: var(--black);
}

.strong {
  color: var(--primary-color);
}

@media (max-width: 1224px) {
  .footer {
      height: auto;
      padding: 20px 0;
    }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .social-media-nav ul {
    padding-top: 10px;
  }
}

@media (min-width: 1225px) {
  .social-media-nav li {
    padding-left: 48px;
  }
}