.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 42px;
}

.flex-reverse {
  flex-direction: row-reverse;
} 
  
  
.about-container img {
  max-width: 421px;
  max-height: 391px;
}

.about-text-box {
  padding-top: 59px;
  padding-bottom: 21px;
}

.about-text-box h3 {
  font-size: 3.8rem;
  line-height: 5.4rem;
  font-weight: 400;
  color: var(--black);
  padding-bottom: 24px;
}

.about-text-box p {
  font-size: 2.2rem;
  line-height: 3.0rem;
  font-weight: 400;
  color: var(--primary-gray);
}

@media (max-width: 425px) {
  .about-text-box h3 {
    font-size: 2.8rem;
    line-height: 4.4rem;
  }

  .about-text-box p {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .about-container img {
    width: 100vw;
  }
}

@media (max-width: 1224px) {
  .about-container {
    flex-direction: column;
  }

  .about-text-box {
    text-align: center;
  }
}

@media (min-width: 1225px) {
  .about-container {
    padding-left: 175px;
    padding-bottom: 124px;
  }

  .about-text-box {
  width: 532px;
  }

  .flex-reverse {
    padding-right: 175px;
    padding-left: 64px;
  }
}