.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 42px;
  padding-bottom: 124px;
  padding-left: 175px;
}

.flex-reverse {
  flex-direction: row-reverse;
  padding-right: 175px;
  padding-left: 64px;
} 
  
  
.about-container img {
  max-width: 421px;
  max-height: 391px;
}

.about-text-box {
  width: 532px;
  padding-top: 59px;
  padding-bottom: 21px;
}

.about-text-box h3 {
  font-size: 3.8rem;
  line-height: 5.4rem;
  font-weight: 400;
  color: var(--black);
  padding-bottom: 24px;
}

.about-text-box p {
  font-size: 2.2rem;
  line-height: 3.0rem;
  font-weight: 400;
  color: var(--primary-gray);
}