.main {
  background: linear-gradient(180deg, #F0F4F8 0%, rgba(240, 244, 248, 0) 100%);
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.main-img {
  width: 52%;
}

.main-text {
  max-width: 432px;
  padding-top: 47px;
}

.main-text h1 {
  font-size: 6.9rem;
  font-weight: normal;
  margin-bottom: 49px;
}

@media (max-width: 425px) {
  .main-text h1 {
    font-size: 3.9rem;
  }
}

@media (max-width: 1224px) {
  .main-container {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 30px;
  }

  .main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (min-width: 1225px) {
  .main-container {
    padding-top: 42px;
    padding-bottom: 124px;
    padding-left: 175px;
  }
}