.main {
  background: linear-gradient(180deg, #F0F4F8 0%, rgba(240, 244, 248, 0) 100%);
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 42px;
  padding-bottom: 124px;
  padding-left: 175px;
}

.main-img {
  max-width: 637px;
  max-height: 520.56px;
}

.main-text {
  max-width: 432px;
  padding-top: 47px;
}

.main-text h1 {
  font-size: 6.9rem;
  font-weight: normal;
  margin-bottom: 49px;
}