.header {
  background-color: var(--pure-white);
  font-size: 1.6rem;
  position: relative;
}

.header-container {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
  height: 88px;
}

.header-container-img {
  width: 90px;
  height: 22.5px;
  margin-right: 46px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.hearder-navigate {
  list-style: none;
  display: flex;
}

.hearder-navigate a {
  padding: 0 16px;
}

.hearder-navigate a, .header-actions a{
  text-decoration: none;
  cursor: pointer;
  color: var(--black);
}

.header-actions {
  margin-left: 20px;
}

.header-actions a {
  margin-right: 40px;
}

.responsive-menu-button {
  all: unset;
  cursor: pointer;
}

.responsive-menu-button img {
  width: 24px;
  height: 24px;
}


@media (min-width: 1225px) {
  .responsive-menu-button {
    display: none;
  }
}

@media (max-width: 1224px) {
  .header-menu:not(.open) {
    display: none;
  }

  .header-menu {
    position: absolute;
    top: 70px;
    right: 60px;
    background-color: var(--pure-white);
    border-radius: 8px;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.2);
    padding: 20px 10px;

  }

  .header-menu, .hearder-navigate, .header-actions {
    display: flex;
    flex-direction: column;
  }

  .hearder-navigate li {
    padding: 7px 0;
  }

  .hearder-navigate a:hover, .header-actions a:hover{
      color: var(--primary-color); 
      border-color: var(--primary-color);
  }

  .header-actions {
    margin-left: 0;
  }

  .header-actions  button {
    margin-top: 10px;
  }

  .header-actions a {
    padding: 12px 32px;
    border-radius: 600px;
    cursor: pointer;
    border: 1px solid var(--primary-gray);
    color: var(--primary-gray);
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
  }
}
